@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Noto+Serif&family=Princess+Sofia&display=swap');

.card{
    font-family: 'Noto Serif', serif;
}
h2{
    font-family: 'Berkshire Swash', cursive;
    color: azure;
}
body{
    background-color: #121212;
}